/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-uncgonline-block-checkpoint-question {
  margin-bottom: 10px;

  legend {
	font-size: 1.2em;
  }

  fieldset {
	margin-bottom: 10px;
  }

  .correct {
	color: green;
  }

  .incorrect {
	color: red;
  }

  .question-button-wrapper {
	margin-top: 10px;
  }

  .general-incorrect-feedback, .general-incorrect-feedback-multi {
	display: none;
  }
}
